.highlight {
  background-color: yellow !important;
}

.green {
  background-color: green !important;
  color: white;
}

.red {
  background-color: red !important;
  color: white;
}

.blue {
  background-color: blue !important;
  color: white;
}