
.enrollment-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.enrollment-form h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.required{
    color: red;
}

input{
    width: 150px;
}

select{
    width: 150px;
}
