/* styles.css */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.global-timer {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.task {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;  /* Para apilar los elementos dentro de la tarea */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center;     /* Centra los elementos horizontalmente */
    height: 250px;           /* Asegura que la tarea tenga altura para centrar los botones */
}

.task.started {
    background-color: #d1ffd1;
}

.task.finished {
    background-color: #ffd1d1;
}

.task.done {
    background-color: #d1d1ff;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.start-btn {
    background-color: #4caf50;
    color: white;
}

.pause-btn {
    background-color: #ff9800;
    color: white;
}

.stop-btn {
    background-color: #f44336;
    color: white;
}


.controls {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px;               /* Espacio entre los botones */
    margin-top: 20px;         /* Espacio superior */
}
