body{
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1{
    text-align: center;
    color: #333;
}
.filter-container{
    margin-bottom: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid#ddd;
    padding: 8px;
    text-align: left;
}
th{
    background-color: #f4f4f4;
}
.dropdown{
    padding: 5px;
    font-size: 16px;
}
.container{
    margin: 20px 0;
}
select,button{
    padding: 10px;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}
.results{
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.contry{
    margin-bottom: 10px;
}
.contry h3{
    margin-left: 20px;
    list-style: disc;
    color: #007BFF;
}
.airlines{
    margin-left: 20px;
    list-style: disc;
}