.highlight {
    background-color: yellow;
  }

  .green {
    background-color: green !important;
    color: white;
  }

  .red {
    background-color: red !important;
    color: white;
  }

  .blue {
    background-color: blue !important;
    color: white;
  }